       
        
		<section class="parallax parallax-1" style="background-image: url(<%= asset_url("AdobeStock_170843598.jpeg") %>); height:600px;">
			<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>
			<div class="container-fluid">
				<div class="text-center">
					<h1 class="m-0 fs-50 fw-300 wow fadeInUp" data-wow-delay="0.4s">Elevator Music</h1>
					<p class="lead fs-30 wow fadeInUp" data-wow-delay="0.7s">Sample a Variety of Rich Sounds and Styles.</p>
					<br /><br /><br /><br /><br /><br /><br />
					<div class="mt-30">
						
					</div>
				</div>
			</div>
		</section>
		

<div>

</div> 


<section class='parallax h-100 pt-40 pb-40'>
	<div class='overlay dark-5'><!-- dark overlay [1 to 9 opacity] --></div>

<!--Player 1 -->

	<div>
  <div class="container">
		<div class='text-center'>
			<h2 class='fs-40 fw-100'>Modern </h2>
		</div>
	</div> 

    
    <div class='toggle'>
					<label>Elevator Slaps </label>
					<div class='toggle-content'>
<iframe width="100%" height="300" id="slaps" class="frame" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/112830531&color=%23e4e4dc&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
						   
					</div>
				</div>
			
            </div> 

            <!--Player 2 -->

	<div>
  <div class="container">
		<div class='text-center'>
			<h2 class='fs-40 fw-100'>Contemporary </h2>
		</div>
	</div> 

    
    <div class='toggle'>
					<label>Elevator Music </label>
					<div class='toggle-content'>
                 <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/642390720&color=%23dce1e4&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
						   
					</div>
				</div>
			
            </div>
            
             <!--Player 3 -->

	<div>
  <div class="container">
		<div class='text-center'>
			<h2 class='fs-40 fw-100'>Soul Accending </h2>
		</div>
	</div> 

    
    <div class='toggle'>
					<label>Elevator Jazz </label>
					<div class='toggle-content'>
                 <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/43689426&color=%23dce1e4&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
						   
					</div>
				</div>
			
            </div>
             