

<section class='parallax h-100 pt-40 pb-40'>
	<div class='overlay dark-5'><!-- dark overlay [1 to 9 opacity] --></div>


<%= require 'ElevatorMedia/Elevatormedia' %>

<%= ElevatorMedia::Streamer.getContent.html_safe %> 

 <div class="col-md-12 mx-auto text-center">
		
    <input type="button" value="XD Another!" onclick="location.reload();"> 
    </div>